div#header
  div#header-content
    div#name-and-buttons.col
      div#name.header-font E. Lily Seropian
      div#buttons
        div#code-button.button.button-font Code
        div#craft-button.button.button-font Craft
        div#connect-button.button.button-font Connect
    div#lily-container.col
      img(src='/images/lily.jpg', alt=':(')#lily-img
    div(style='clear:both;')
