div#header
  div#header-content
    div#name.header-font
      div#Lily Lily
      div#Seropian Seropian
    div#buttons
      div#code-button.button.button-font Code
      div#craft-button.button.button-font Craft
      div#connect-button.button.button-font Connect
    img(src='/images/lily.jpg', alt=':(')#lily-img