<!DOCTYPE html>
<html>
  <head>
    <title>Lily Seropian: Home</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../public/js/control.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/vendor/semantic.min.css">
    <script src="../public/vendor/semantic.min.js"></script>
  </head>
  <body>
    <div>
      <div class="ui menu">
        <div class="item">Lily Seropian</div>
       <!--  <div class="item">
          <div class="ui image tiny">
            <img src="../public/images/lily.jpg"/>
          </div>
        </div> -->
      <div class="ui menu tabular right">
        <a class="item " data-tab="code">Code</a>
        <a class="item " data-tab="craft">Craft</a>
        <a class="item " data-tab="connect">Connect</a>
      </div>
      </div>

      <div class="ui active tab segment" data-tab="code">
        Coming soon!
      </div>
      <div class="ui tab segment" data-tab="craft">
        Coming soon!
      </div>
      <div class="ui tab segment" data-tab="connect">
        <div class="ui card">
          <div class="image">
            <img src="../public/images/github.jpg" alt=":("/>
          </div>
          <div class="content">
            <a class="header" href="http://www.github.com/lilyseropian">github.com/lilyseropian</a>
          </div>
        </div>

        <div class="ui card">
          <div class="image">
            <img src="../public/images/linkedin.jpg" alt=":("/>
          </div>
          <div class="content">
            <a class="header" href="http://www.linkedin.com/in/lilyseropian">linkedin.com/in/lilyseropian</a>
          </div>
        </div>

        <div class="ui card">
          <div class="image">
            <img src="../public/images/resume.jpg" alt=":("/>
          </div>
          <div class="content">
            <a class="header" href="../public/pdfs/Seropian Resume.pdf">Resume</a>
          </div>
        </div>

        <div class="ui card">
          <div class="image">
            <img src="../public/images/cv.jpg" alt=":("/>
          </div>
          <div class="content">
            <a class="header" href="../public/pdfs/Seropian CV.pdf">CV</a>
          </div>
        </div>

        <div class="ui card">
          <div class="image">
            <img src="../public/images/email.jpg" alt=":("/>
          </div>
          <div class="content">
            <a class="header" href="mailto:lilyseropian@gmail.com">lilyseropian@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>