<!DOCTYPE html>
<html>
  <head>
    <title>Lily Seropian: Home</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../public/js/control.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/vendor/semantic.min.css">
    <script src="../public/vendor/semantic.min.js"></script>
  </head>
  <body>
    <div>
      <div class="ui menu">
        <div class="item">Lily Seropian</div>
       <!--  <div class="item">
          <div class="ui image tiny">
            <img src="../public/images/lily.jpg"/>
          </div>
        </div> -->
      <div class="ui menu tabular right">
        <a class="item active" data-tab="code">Code</a>
        <a class="item" data-tab="craft">Craft</a>
        <a class="item" data-tab="connect">Connect</a>
      </div>
      </div>

      <div class="ui active tab segment" data-tab="code">
        Coming soon!
      </div>
      <div class="ui tab segment" data-tab="craft">
        Coming soon!
      </div>
      <div class="ui tab segment" data-tab="connect">
        <div class="ui cards">
          <div id="github" class="card"></div>
          <div id="linkedin" class="card"></div>
          <div id="email" class="card"></div>
          <div id="resume" class="card"></div>
          <div id="cv" class="card"></div>
        </div>
      </div>
    </div>
  </body>
</html>