/**********/
/* COLORS */
/**********/

yellow = #FFE850
orange = #FF6833
dark-orange = #F3541C
blue = #2EA8E4
brown = #5B2505
dark-brown = #522104
green = #6BA333

dark-gray = #505050
gray = #D0D0D0
light-gray = #F0F0F0

/*********/
/* FONTS */
/*********/

title-font = monospace
header-font = "Courier New", Monaco, monospace
body-font = "Courier New", Monaco, monospace

/*************/
/* CONSTANTS */
/*************/

radius = .5em

border-length = 1em
margin-length = 1em
side-length = 18em

/*************/
/* FUNCTIONS */
/*************/

background-clip(type)
  background-clip type
  -moz-background-clip type
  -webkit-background-clip type

linear-gradient-top(color1, color2) {
  background: linear-gradient(top, color1, color2);
  background: -moz-linear-gradient(top, color1, color2);
  background: -webkit-linear-gradient(top, color1, color2);
  background: -o-linear-gradient(top, color1, color2);
}

/************/
/* ELEMENTS */
/************/

body
  font-family body-font
  text-align center

/***********/
/* CLASSES */
/***********/

.button
  background-color brown
  border-radius .25em
  box-shadow dark-gray 1px 1px 3px 
  color yellow
  font-family header-font
  font-size 1.5em
  linear-gradient-top brown dark-brown
  margin margin-length auto
  padding .375em
  &:hover
    background-color orange 
    linear-gradient-top orange dark-orange

.hidden
  display none

.link
  border 1em yellow solid
  border-radius radius
  box-shadow gray 0 0 20px
  height side-length
  width side-length

.link-title
  color dark-gray
  font-weight bolder
  font-size 1.75em
  margin-top margin-length*8
  word-wrap break-word

.pdf
  background-color white
  &:hover
    background-color light-gray

.selected
	color orange
	&:hover
    color brown

.url
  background-color white
  position absolute

/*******/
/* IDS */
/*******/

#buttons
	margin 2*margin-length 0

#code-content
#craft-content
  background-color white
  p
    font-size 2em
    font-weight bolder

#code-content
#connect-content
#craft-content
	margin-left side-length + margin-length*4
	margin-top margin-length

#header
  background-color white
  border border-length solid blue
  border-radius radius
  bottom margin-length
  box-shadow 0px 0px 20px gray
  position absolute
  margin-left margin-length
  min-height 40em
  text-align center
  top margin-length*2
  width side-length

#header-content
  margin 1em

#Lily
	font-size 2em

#lily-img
  width 100%

#links
  tbody
    tr
      td
        padding 1em
      &:first-of-type
      	td
      		padding-top 0

#name
  background-clip(text)
  background-color green 
  color transparent
  font-family title-font
  font-size 4em
  margin-right 5%
  margin-bottom .1em
  text-shadow rgba(255, 255, 255, .5) 0px 2px 2px
  width 100%